@import './modules/box';
@import './modules/buttons';
@import './modules/locations';
@import './modules/transitions';
@import './fonts';

body {
    user-select: none;
    height: 100vw;
}

.orders_general_container {
    @include flexbox(row);
    height: 100vw;
}

.order_main_container {
    @include flexbox(column);
    width: 18vw;
    margin-left: 1vw;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.337);
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 1vw;
    box-shadow: 0.3vw 0.3vw 1.5vw 0.2vw rgba(0, 0, 0, 0.3);
    height: fit-content;
    max-height: 80vh;
}
.order_sub_main_container {
    @include flexbox(column);
    width: 18vw;
    padding: 1vw;
    border-radius: 1vw;
    height: 80%;
    width: 88%;
    overflow: auto;
}
.order_sub_main_container::-webkit-scrollbar {
    width: 13px;
}
.order_sub_main_container::-webkit-scrollbar-thumb {
    background-color: rgb(102, 129, 187);
    height: 30%;
    border-radius: 2vw;
}
.order_sub_main_container::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 2vw;
    height: 80px;
}



.customer_name {
    @include customFont(Lato1, 2vw);
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 0.5vw;
    margin-top: 0vw;
}

.order_content_container {
    @include flexbox(column);
    height: fit-content;
}

.order_product_header {
    @include customFont(Lato3, 1.6vw);
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 0.5vw;
    margin-top: 0vw;
    margin-left: 0.5vw;
}

.order_sub_product_container {
    @include flexbox(column);
    height: fit-content;
}

.order_sub_product_header {
    @include customFont(Lato3, 1.2vw);
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 0.5vw;
    margin-top: 0vw;
    margin-left: 1vw;
}

.order_sub_sub_product_container {
    @include flexbox(column);
    height: fit-content;
}

.order_sub_sub_product_content {
    @include customFont(Lato3, 1vw);
    color: rgba(0, 0, 0, 0.55);
    margin-bottom: 0.5vw;
    margin-top: 0vw;
    margin-left: 1.5vw;
}